<!DOCTYPE html>
{% load static %}
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>online SuperMarket</title>
</head>
<style>
    *,
    *::after,
    *::before{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        background-color: #e6f4d8;
        font-family: Arial, sans-serif;
        text-align: center;
    }
    main{
        padding: 30px 0;
    }
</style>
<body dir="rtl">
    <header>
        {% block header %}
            {% include 'header.html' %}
        {% endblock header %}
    </header>
    <hr/>
    <main>
        {% block main %}
            {% include 'home.html' %}
        {% endblock main %}
    </main>
    <hr/>
    <footer>
        {% block footer %}
             {% include 'footer.html' %}
        {% endblock footer %}
    </footer>
</body>
</html>